html {
    box-sizing: border-box;
}

body {
    background-color: #c8c9cc;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.page-wrapper {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: clamp(70px, 5%, 70px);
    padding: 0;
    text-align: center;
}

.row {
    background-image: url(https://tc-public-static-files.topcoder.com/topcoder-auth/images/member-signin.png);
    min-height: 820px;
    height: clamp(820px, 100%, 820px);
    border-radius: 10px 10px;
    width: 1140px;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: white;
    display: inline-block;
}

.left-column {
    width: 500px;
}

.signin-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 40px;
    gap: 51px;
}

.signin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 8px;
}

.header-text {
    font-family: 'Barlow Condensed';
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
}

.black {
    color: #2A2A2A;
    font-weight: 700;
}

.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
    padding: 12px;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    display: none;
}

.message-wrapper {
    display: none;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px 10px;
    color: #ffffff;
}

.message.error {
    background-color: #ea1900;
}

.message.notify {
    background-color: #079531b8;
}

.message-icon {
    width: 20px;
    height: 20px;
    text-align: center;
}

.message-content {
    margin-left: 10px;
    flex: 1;
}

.close-error {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

.digit-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.digit-group input {
    width: 44px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    border-radius: 4px;
}

.resend-link {
    color: #0D61BF;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.logo-column {
    display: block;
    padding: 53px 0px 0px 500px;
    position: absolute;
    top: 60px;
    width: 640px;
    color: white;
    font-weight: 500;
    font-family: 'Barlow Condensed', sans-serif;
}

.header {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.title {
    font-weight: 500;
    font-size: 54px;
    line-height: 52px;
    background: linear-gradient(265.38deg, #FFC43D 1.99%, #EF476F 98.19%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 1156px) {
    .row {
        background: white;
        width: 500px;
        min-height: auto;
    }

    .logo-column {
        display: none;
    }
}