:root {
  font-size: 62.5%;
}

html {
  -webkit-tap-highlight-color: #59a7ff;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

/*For IE*/
main {
  display: block;
}

a,
a:active,
a:visited {
  -webkit-tap-highlight-color: transparent;
  color: #0d61bf;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #097dce;
  text-decoration: none;
}

button {
  background-color: #006ad7;
  border: 1px solid transparent;
  border-radius: 25px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 1;
  min-width: 150px;
  outline: 0;
  text-transform: uppercase;
}

button:not(:disabled):hover {
  background-image: linear-gradient(180deg, #3996ff, #127bf3);
}
a,
button {
  cursor: pointer;
  transition: all 0.15s;
}

button:focus,
a:focus {
  outline: 1px solid #59a7ff;
}

button:disabled {
  background-color: #d1d3d4;
  border: none;
  cursor: default;
  opacity: 0.4;
}

p {
  color: #37373c;
  font-size: 1.6rem;
  margin: 0 0 10px;
}
h1 {
  align-self: center;
  color: #2a2a2a;
  font-size: 3.4rem;
  font-weight: 400;
  margin: 20px 0;
  text-transform: uppercase;
}

select,
input {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #2a2a2a;
  font-size: 1.6rem;
  height: 50px;
  padding: 1px 5px 1px 15px;
  outline: 0;
  width: 100%;
}

/*For IE*/
::-ms-clear {
  display: none;
}

select:focus,
input:focus,
select:hover,
input:hover {
  box-shadow: inset 0 0 3px 0 #b7b7b7;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent url("./images/icons/arrow.svg") no-repeat
    calc(100% - 10px) center;
  background-size: 15px;
  padding-right: 35px;
}

/*For IE*/
select::-ms-expand {
  display: none;
}

/** IE requires arrow add as parent class of select box to get output **/
.custom-dropdowm-arrow {
  background: #fff url("./images/icons/arrow.svg") calc(100% - 10px) 17px;
  background-repeat: no-repeat;
  background-size: 15px;
}

.custom-dropdowm-arrow select {
  background: none;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 15px;
  width: 100%;
}

.clip-me {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/** Start - Skip to content **/
.action.skip {
  box-sizing: border-box;
  position: absolute;
}
.action.skip:not(:focus) {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

.action.skip:focus {
  background: #f0f0f0;
  left: 0;
  padding: 10px;
  text-align: center;
  top: 0;
  z-index: 15;
}
/** End - Skip to content **/

.header {
  border-radius: 10px 10px 0 0;
  background-color: #3d3d3d;
  padding: 20px 10px;
  text-align: center;
}

.header .logo-link {
  display: inline-block;
}

.header .logo-link img {
  height: 30px;
}

.copyright-text {
  font-size: 12px;
}

.privacy-policy {
  font-size: 12px;
}

.footer {
  color: #2a2a2a;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto 20px;
  padding: 20px 0;
}
.footer .privacy-policy {
  text-decoration: underline;
}

.footer .privacy-policy:hover {
  text-decoration: none;
}

.center-align-card .page-wrapper {
  max-width: 90%;
  padding: 0;
}
.center-align-card .page-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px 1px #e9e9e9;
  margin: 10% auto 20px;
  position: relative;
}

.center-align-card .page-content .page-main {
  padding: 50px 40px 80px;
  position: relative;
  text-align: center;
}

.center-align-card .page-content .page-main .page-title-heading {
  margin-top: 0;
}

.center-align-card .page-content .page-main .page-description {
  color: #3d3d3d;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
}
/** Start: Check Email Card  **/
.checkemail-card .header {
  padding: 35px 10px 12px 10px;
  background-color: transparent;
}

.checkemail-card.center-align-card .page-content .page-main {
  padding: 0px 50px 40px;
  position: relative;
  text-align: center;
}

.checkemail-card.center-align-card .page-content .page-main .page-title-heading {
  color: #2A2A2A;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: none;
}
.checkemail-card.center-align-card .page-content .page-main .page-subtitle-heading {
  color: #2A2A2A;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.checkemail-card.center-align-card .page-content .page-main .page-description {
  margin-top: 30px;
  text-align: left;
  font-weight: normal;
  font-family: "Roboto";
  font-size: 15px;
}

.checkemail-card.center-align-card .page-content .page-main .page-description ul {
  list-style: none;
  list-style-image: url(./images/arrow.svg);
  margin: 0px;
}

.checkemail-card.center-align-card .page-content .page-main .page-description ul li {
  line-height: 21px;
  position: relative;
}
.checkemail-card.center-align-card .page-content .page-main .page-description ul li span {
  position: relative;
  top: -3px
}

.checkemail-card.center-align-card .page-content .page-main .page-description ul li::marker {
  margin-top: 3px;
}


.checkemail-card.center-align-card .page-content .page-main .page-description ul li:not(:last-child){
  margin: 0px 0px 30px 0px;
 }

.checkemail-card .footer {
  padding-top: 0px;
}

/** End: Check Email Card  **/

/** Start: Confirmation Card  **/
.confirmation-card.center-align-card {
 background-color: #C8C9CC;
}

.confirmation-card a,
.confirmation-card a:active,
.confirmation-card a:visited {
  text-decoration: underline;
}

.confirmation-card.center-align-card .page-content {
  box-shadow: none;
}

.confirmation-card.center-align-card .page-content .page-main {
  padding: 0px 50px 45px;
  position: relative;
  text-align: center;
}

.confirmation-card .header {
  padding: 27px 10px 21px 10px;
  background-color: transparent;
}
.confirmation-card .footer {
  padding-top: 0px;
}

.confirmation-card.center-align-card .page-content .page-main .page-title-heading {
  color: #2A2A2A;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
}
.confirmation-card.center-align-card .page-content .page-main .page-description {
  margin-top: 41px;
  text-align: left;
  font-weight: normal;
  font-family: "Roboto";
  font-size: 15px;
}
.confirmation-card.center-align-card .page-content .page-main .page-description ul {
  list-style: none;
  margin: 0px;
}

.confirmation-card.center-align-card .page-content .page-main .page-description ul li{
  margin-bottom: 0;
  line-height: 21px;
  position: relative;
}

.confirmation-card.center-align-card .page-content .page-main .page-description ul li:not(:last-child){
  padding-bottom: 28px;
}

.confirmation-card.center-align-card .page-content .page-main .page-description ul li::before {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  --size: 30px;
  line-height: var(--size);
  left: calc(-1 * var(--size) - 11px);
  top: -4px;
}

.confirmation-card.center-align-card .page-content .page-main .page-description ul li:nth-child(1)::before {
  content:"";
  background-image: url('./images/1.png');
  height: 28px;
  width: 30px;
}

.confirmation-card.center-align-card .page-content .page-main .page-description ul li:nth-child(2)::before {
  content:"";
  background-image: url('./images/2.png');
  height: 28px;
  width: 30px;
}

.confirmation-card.center-align-card .page-content .page-main .page-description ul li:nth-child(3)::before {
  content:"";
  background-image: url('./images/3.png');
  height: 28px;
  width: 30px;
}
/** End: Confirmation Card  **/

/** Start: Sign Up Card  **/
.center-align-card.signup-card .page-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: center;
  max-width: 1139px;
}

.center-align-card.signup-card .page-content {
  margin-top: 60px;
  min-height: 820px;
  height: clamp(820px, 100%, 820px);
  border-radius: 10px 10px;
  width: 1139px;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(./images/signup_bg.png);
}

.center-align-card.signup-card .page-main {
  padding: 0px 50px 40px 40px;
  width: 100%;
  max-width:495px;
}

.center-align-card.signup-card .page-main header{
   background: transparent;
   border-radius: 0px;
   padding: 28px 0px 17px 0px;
}
.center-align-card.signup-card .page-main .page-title-heading{
  color: #2A2A2A;
  font-family: Roboto, sans-serif;
  font-weight: 500 ;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  padding-bottom: 46px;
}


.center-align-card.signup-card .page-content #signup-container {
  color: white;
  text-align: left;
  position: absolute;
  margin-left:495px;

}

.center-align-card.signup-card .page-content #signup-container .title{
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 34px;
  line-height: 38px;
  padding: 81px 0px 20px 143px;
}

.center-align-card.signup-card .page-content #signup-container .body{
  font-weight: normal;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 27px;
  padding: 0px 88px 0px 143px;
}
.center-align-card.signup-card .page-content .input-field {
  margin-bottom: 10px;
}
.center-align-card.signup-card .page-content .input-field select,  .center-align-card.signup-card .page-content .input-field input{
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  color: #2A2A2A;
  font-family: Roboto;
  font-size: 14px;
}
.center-align-card.signup-card .page-content .input-field select{
  background: none;
}

.center-align-card.signup-card .page-content .input-field .icon-arrow g{
  fill: #AAAAAA;
  opacity: 1;
}
.center-align-card.signup-card .page-content .input-field .icon-arrow {
  transform: rotate(90deg);
}

.center-align-card.signup-card .page-content .input-field .icon-arrow {
  position: absolute;
  top: 18px;
  width: 12px;
  height: 14px;
  right: 14px;
  pointer-events: none;
}

.center-align-card.signup-card .page-content .input-field select:focus,
.center-align-card.signup-card .page-content .input-field input:focus,
.center-align-card.signup-card .page-content .input-field select:hover,
.center-align-card.signup-card .page-content .input-field input:hover {
  box-shadow: none;
}
.center-align-card.signup-card .page-content .input-field label {
  color: #AAAAAA;
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  width: 146px;
  text-align: left;
}

.center-align-card.signup-card .page-content button.continue-btn:not(:disabled):hover {
  background-image: none;
}
.center-align-card.signup-card .page-content button.continue-btn:focus{
  outline: 0px;
}

.center-align-card.signup-card .page-content button.continue-btn {
  background-color: #137D60;
  border-radius: 4px;
  width: 100%;
  max-width: 405px;
  height: 48px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  text-transform: capitalize;
}
.center-align-card.signup-card .page-content .terms {
  text-align: left;
  padding-bottom: 25px;
}

.center-align-card.signup-card .page-content .terms,
.center-align-card.signup-card .page-content .terms a{
  color: #37373C;
  font-family: Roboto;
  font-size: 13px;
  line-height: 20px;
}
.center-align-card.signup-card .page-content .terms a,
.center-align-card.signup-card .page-content .terms a:visited,
.center-align-card.signup-card .page-content .terms a :active,
.center-align-card.signup-card .page-content .terms a:focus {
  text-decoration: underline;
  font-size: 13px;
  line-height: 20px;
  color: #0D61BF;
}
/** End: Sign Up Card  **/

/** Start : Input/select box - field area style **/
.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field label {
  -webkit-font-smoothing: antialiased;
  bottom: 100%;
  background-color: #fff;
  color: #3e3e3e;
  font-size: 1.6rem;
  height: auto;
  left: 0;
  line-height: 1.4;
  margin: 5px 0 5px 12px;
  max-width: 100%;
  overflow: hidden;
  padding: 0 0 0 3px;
  position: absolute;
  right: auto;
  transform-origin: left top;
  transform: translate3d(0, 42px, 0) scale(1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: unset;
  z-index: 1;
}

.input-field.active label {
  transform: translate3d(0, 18px, 0) scale(0.95);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.input-field.focussed label {
  color: #006ad7;
}

/** End : Input/select box - field area style **/

/**
 * Message - Error Message style
 **/

.messages .message {
  border-radius: 5px;
  display: none;
  font-size: 1.6rem;
  margin-bottom: 20px;
  padding: 15px 40px 15px 10px;
  position: relative;
  text-align: left;
}

.messages .close-error {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 15px;
  width: 20px;
}
.messages .message:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  display: inline-block;
  height: 20px;
  line-height: 1.25;
  overflow: hidden;
  text-align: center;
  width: 20px;
  vertical-align: top;
}

.messages .message .message-content {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 35px);
  vertical-align: top;
}

.messages .message.error {
  background-color: #ea1900;
  color: #ffffff;
}
.messages .message.error:before {
  content: "\26A0";
}

.messages .close-error:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "\2716";
  display: inline-block;
  height: 20px;
  line-height: 1.25;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

/** Desktop + tab - specific CSS **/
@media (min-width: 768px) {
  .center-align-card .page-content {
    margin-top: 12%;
  }
  .center-align-card .page-wrapper {
    max-width: 520px;
  }
  .confirmation-card.center-align-card .page-wrapper {
    max-width: 511px;
  }

  .center-align-card.signup-card .page-content {
    width: 1139px;
    min-height: 820px;
    height: 820px;
  }
}

@media (max-width: 1156px) {
  .center-align-card.signup-card .page-content {
    background-image: none;
    width: 90%;
    max-width: 495px;
    min-height: auto;
    height: auto;
  }
  .center-align-card.signup-card .page-content #signup-container {
    display: none;
  }
}

/** Mobile - specific CSS **/
@media (max-width: 767px) {
  .center-align-card.signup-card .page-wrapper {
    background-image: none;
    width: 90%;
    min-height: auto;
    height: auto;
  }
  .center-align-card.signup-card .page-content #signup-container {
    display: none;
  }

  .footer {
    padding-bottom: 10px;
  }
  .footer .copyright-text,
  .footer .privacy-policy {
    margin-bottom: 10px;
  }
}